numpy==1.23.0
opencv-python==4.5.3.56
scipy==1.9.3
torch==2.1.1
xformers==0.0.23
gradio==3.50
matplotlib
timm
pandas
pillow
scikit-learn
scikit-image
lpips
loguru
omegaconf
six
tqdm
albumentations
einops
imageio
